h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
}

.back_to_dashboard {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1c5947;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.back_to_dashboard:hover {
    background-color: #1c5947;
}