.application-card {
    border: 1.8px dashed #ddd;
    padding:0 5%;
    padding-block: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 30px;
}
.application-card h3 {
    margin: 0;
}
.application-card a {
    display: inline-block;
    margin-top: 5px;
}

.application-card strong{
    color:  #1c5947;
}