.dashboard_all{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 7%;
    gap: 30px;
}
.sidebar_links{
    border: 1px solid #ddd;
    height: 100%;
}

.sidebar_links a{
    display: flex;
    flex-direction: column;
}

.dashboard_page{
    overflow-y: scroll;
    height: 100vh;
    border: 2px solid;
}

